$clr_A78049: #a78049;
$clr_985135: #985135;
$clr_AE9D72: #ae9d72;
$clr_212121: #212121;
$clr_f0eee9: #f0eee9;
$clr_E0DDD3: #e0ddd3;
$clr_E8E5DE: #e8e5de;
$clr_9D9F8F: #9d9f8f;
$clr_8C8C8C: #8c8c8c;
$clr_AC8B5A: #ac8b5a;
$clr_ffffff: #ffffff;
$clr_000000: #000000;

$font_dm_mono: "DM Mono";
$font_dm_sans: "DM Sans";
